doctype html
html(lang="en")
    head
        title Connect 4
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        link(rel="stylesheet" href="./styles/index.pcss")
    body
        main
        script(type="text/javascript" src="./ts/index.ts")
